/* Estilos específicos da página */

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    border-radius: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding:50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    margin-bottom: 30px;
    color: blueviolet;
}

table, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}

td:nth-child(1),
td:nth-child(8){text-align: center}
td:nth-child(9){text-align: right}

th {
    border-right: 1px solid #ccc;
    border-collapse: collapse;
    padding: 4px 8px;
    position: relative;
}

table th, table tfoot td{
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    color: #444;
}

/* Estilos padrões do componente table-custom */

.column-choice-group{
    position: relative;
    float: right;
}

.btn-column{
    background-color: blueviolet;
    padding: 3px 12px;
    color: #fff;
    font-size: 0.9em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-column:hover{
    background-color: darkslateblue;
    transition: all .5s;
}

.menu-column{
    padding: 4px 20px 4px 8px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    position: absolute;
    align-items: center;
    top: 23px;
    left: 0;
    border: 1px solid #7b9dd4;
    font-weight: normal;
    font-family: arial;
    font-size: 13.33px;
    color: #000;
    z-index: 1;
}

.menu-column label{padding: 4px;}