/* Estilos específicos da página */

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    border-radius: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding:50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    margin-bottom: 30px;
    color: blueviolet;
}

table, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(8){text-align: center}
td:nth-child(9){text-align: right}

th {
    border-right: 1px solid #ccc;
    border-collapse: collapse;
    padding: 4px 10px;
}

table th, table tfoot td{
    background-color: #eee;
    color: #444;
}

input[type="text"], select{
    height: 24px;
    border: 1px solid #ccc;
    width: 115px;
    margin-bottom: 2px;
    padding: 2px;
}

/* Estilos padrões do componente table */

.checkbox-group{
    position: relative;
}

.select-style{
    height: 24px;
    border: 1px solid #ccc;
    width: 115px;
    background-color: #fff;
    padding: 2px;
    -webkit-appearance: menulist-button;  
   -moz-appearance: menulist-button;
   appearance: menulist-button; 
}

.checkbox-list{
    padding: 4px 20px 4px 8px;
    background-color: #fff;
    display: none;
    grid-template-columns: auto auto;
    text-align: left;
    position: absolute;
    align-items: center;
    top: 23px;
    border: 1px solid #7b9dd4;
    font-weight: normal;
    font-family: arial;
    font-size: 13.33px;
    color: #000;
}

.checkbox-list label{padding: 4px;}
