/* Estilos específicos da página */

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    border-radius: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding:50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    margin-bottom: 30px;
    color: blueviolet;
}

table, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}

td:nth-child(1),
td:nth-child(8){text-align: center}
td:nth-child(9){text-align: right}

th {
    border-right: 1px solid #ccc;
    border-collapse: collapse;
    padding: 4px 10px;
}

table th, table tfoot td{
    background-color: #eee;
    color: #444;
}

input[type="text"], select{
    height: 24px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 2px;
    padding: 2px;
}

/* Estilos padrões do componente table */

.icon-sort{
    width: 8px;
    height: 2px;
    margin: 10px 5px 6px;;
    float: right;
    position: relative;
}

.icon-sort:before, .icon-sort:after{
    content: '';
    width: 0;
    height: 0;
    left: 0;
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.icon-sort:before {border-bottom: 6px solid silver; bottom: 2px;}
.icon-sort:after {border-top: 6px solid silver; top: 2px;}

*[data-table-sort]{cursor: pointer;}
.sort-primary-desc,.sort-primary-asce {background-color: blueviolet; color: white;}
.sort-primary-asce .icon-sort:before {border-bottom-color: white; bottom: 0px;}
.sort-primary-desc .icon-sort:after {border-top-color: white; top: 0px;}

.sort-primary-asce .icon-sort:after,
.sort-primary-desc .icon-sort:before {display: none}

