/* Estilos específicos da página */

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    border-radius: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding:50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    margin-bottom: 30px;
    color: blueviolet;
}

table, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}

td:nth-child(1),
td:nth-child(8){text-align: center}
td:nth-child(9){text-align: right}

th {
    border-right: 1px solid #ccc;
    border-collapse: collapse;
    padding: 4px 8px;
    position: relative;
}

table th, table tfoot td{
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    color: #444;
}

/* Estilos padrões do componente table-custom */

.row-expansion > td{padding: 20px}

.col-btn-expansion:hover{
    background-color: blueviolet; 
    color: #fff; 
    cursor: pointer
}

.btn-expansion{
    position: relative;
    width: 24px;
    height: 21px;
    overflow: hidden;
    float: left;
}

.btn-expansion:before{
    content: '›';
    font-family: sans-serif;
    font-size: 2em;
    height: 52px;
    position: absolute;
    top: -10px;
    left: 8px;
}

.btn-expansion-active:before{
    transform: rotate(90deg);
    top: -14px;
    left: 2px;
}

.subtable-content{border:0; width: 100%}

.subtable-content td{
    border: 0; 
    padding: 4px 6px;
    text-align: left;
}

.subtable-content th{
    border-right: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font-size: 0.7em;
    padding-bottom: 0;
    font-weight: 500;
    text-align: left;
    padding: 0 6px;
}
