/* Estilos específicos da página */

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    border-radius: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding:50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    margin-bottom: 30px;
    color: blueviolet;
}

table, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}

th {
    border-right: 1px solid #ccc;
    border-collapse: collapse;
    padding: 4px 10px;
}

table th{
    background-color: #eee;
    color: #444;
}

input[type="text"], select{
    height: 24px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 2px;
    padding: 2px;
}
